<h2>Search</h2>

<form action="/contacts" method="get">
  <p>Search: <input type="text" name="search"></p>
  <input type="submit" value="Search">
  <button><a href="/contacts">Cancel</a></button>
</form>



<!-- <form action="/search" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Phone: <input type="text" name="phone"></p>
  <p>Email: <input type="text" name="email"></p>
  <input type="submit" value="Create">
  <button><a href="/contacts">Cancel</a></button>
</form> -->
