<h2>New Toy</h2>

<form action="/toys" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>ID: <input type="text" name="id"></p>
  <p>Quantity: <input type="text" name="quantity"></p>
  <input type="submit" value="Create">
  <button><a href="/toys">Cancel</a></button>
</form>
