<h2>Search</h2>

<form action="/toys/search" method="POST">
  <p>Search: <input type="text" name="search"></p>
  <input type="submit" value="Search">
  <button><a href="/toys">Cancel</a></button>
</form>
